{# Copyright 2021 Google LLC. This software is provided as-is, without warranty or #}
{# representation for any use or purpose. Your use of it is subject to your        #}
{# agreement with Google.                                                          #}
variable "terraform_service_account" {
  description = "Service account email of the account to impersonate to run Terraform."
  type        = string
}
