{# Copyright 2021 Google LLC. This software is provided as-is, without warranty or #}
{# representation for any use or purpose. Your use of it is subject to your        #}
{# agreement with Google.                                                          #}
{% macro project_id(short_id, env) -%}
{% if env %}
google_project.{{ short_id }}-{{ env }}.project_id
{%- else %}
google_project.{{ short_id }}.project_id
{%- endif %}
{%- endmacro %}